---
import CardFilter from "../../components/CardFilter.astro";
import LayouteFilterCode from "../../layouts/LayouteFilterCode.astro";
import { tagCard } from "../../utils";


const allPosts = await Astro.glob("/src/pages/post/*.md");
const filterCode = allPosts.filter((post) =>
  post.frontmatter.category === "code"
);

/* const list = allPosts.filter(post => post.frontmatter.category === "code")

console.log(list.length) */
---

<LayouteFilterCode title="code">
  <section class="w-full min-h-screen max-w-[1440px] mx-auto">
    <ul class="max-w-[1440px] mx-auto grid grid-cols-gridPosts gap-y-8">
      {
        filterCode.map((item) => {
          const { image, tags, title, description } = item.frontmatter;
          let valueTag = tagCard.filter(
            (item: { name: string }) => /* item.name === tags[0] */tags.includes(item.name)
          );
          /* console.log(valueTag) */
          return (
            <CardFilter
              image={image.url}
              title={title}
              description={description}
              tag={valueTag}
            />
          );
        })
      }
    </ul>
  </section>
</LayouteFilterCode>
