---
import Layout from "../layouts/Layout.astro";
---

<Layout title="page error 404">
  <main class="max-w-[1440px] mx-auto">
    <section class=" flex flex-col gap-y-2 items-center">
      <h1 class=" text-6xl font-bold">404</h1>
      <h3 class=" font-semibold text-2xl">Error</h3>
      <p>Pagina no encontrada </p>
      <a href="/" class="px-2 py-1.5 rounded-lg bg-green-950 text-white font-semibold">volver a inicio</a>
    </section>
  </main>
</Layout>
