---
import Image from "astro/components/Image.astro";
---

<section class="flex flex-col gap-y-6 py-10">
  <h1
    class=" text-5xl md:text-7xl text-center mx-auto font-extrabold max-w-[600px] text-pretty"
  >
    explorando webs y artesanias de diseño
  </h1>
  <p class="text-xl font-normal mx-auto text-center max-w-[380px] text-balance">
    consejos y tutoriales sobre el diseño y construcción de interfaces web.
  </p>
  <article class="flex flex-wrap justify-center gap-3 w-fit mx-auto">
    <a href="/design" class="flex gap-x-2 items-center">
      <div class="p-2 rounded-full bg-darkGreen-300">
        <Image
          src={"/svg/header-design.svg"}
          width={20}
          height={20}
          alt={"explore design"}
        />
      </div>
      <p class=" text-base sm:text-xl font-semibold">explore design</p>
    </a> 
    <a href="/code" class="flex gap-x-2 items-center">
      <div
        class="p-2 rounded-full bg-darkGreen-300 flex items-center justify-center"
      >
        <Image
          src={"/svg/header-code.svg"}
          width={20}
          height={20}
          alt={"explore code"}
        />
      </div>
      <p class=" text-base sm:text-xl font-semibold">explore code</p>
    </a>
  </article>
</section>
