---
import type { Cardpost } from "../../interface";
import CardMini from "../CardMini.astro";


const listDesignCards: Cardpost[]= [
  {
    tag: {
      icon: "/svg/tag-quickTip.svg",
      name: "quick tip",
    },
    title: "illustrator quick tip: aling to key object",
    description: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ab
              repellat nihil officia iste, aspernatur natus odio veritatis
              similique deleniti minus commodi eveniet consectetur maxime veniam
              magnam molestias facere voluptatem.`,
    image: ""
  },
  {
    tag: {
      icon: "/svg/tag-quickTip.svg",
      name: "quick tip",
    },
    title: "illustrator quick tip: aling to key object",
    description: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ab
              repellat nihil officia iste, aspernatur natus odio veritatis
              similique deleniti minus commodi eveniet consectetur maxime veniam
              magnam molestias facere voluptatem.`,
    image: ""
  },
  {
    tag: {
      icon: "/svg/tag-quickTip.svg",
      name: "quick tip",
    },
    title: "illustrator quick tip: aling to key object",
    description: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ab
              repellat nihil officia iste, aspernatur natus odio veritatis
              similique deleniti minus commodi eveniet consectetur maxime veniam
              magnam molestias facere voluptatem.`,
    image: ""
  },
  {
    tag: {
      icon: "/svg/tag-quickTip.svg",
      name: "quick tip",
    },
    title: "illustrator quick tip: aling to key object",
    description: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ab
              repellat nihil officia iste, aspernatur natus odio veritatis
              similique deleniti minus commodi eveniet consectetur maxime veniam
              magnam molestias facere voluptatem.`,
    image: ""
  },
  {
    tag: {
      icon: "/svg/tag-quickTip.svg",
      name: "quick tip",
    },
    title: "illustrator quick tip: aling to key object",
    description: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ab
              repellat nihil officia iste, aspernatur natus odio veritatis
              similique deleniti minus commodi eveniet consectetur maxime veniam
              magnam molestias facere voluptatem.`,
    image: ""
  },
  {
    tag: {
      icon: "/svg/tag-quickTip.svg",
      name: "quick tip",
    },
    title: "illustrator quick tip: aling to key object",
    description: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ab
              repellat nihil officia iste, aspernatur natus odio veritatis
              similique deleniti minus commodi eveniet consectetur maxime veniam
              magnam molestias facere voluptatem.`,
    image: ""
  },
];
---

<section class="mx-auto max-w-[1440px] py-12">
  <article
    class="flex items-center justify-between max-w-[1440px] mx-auto mb-5"
  >
    <h2 class="text-3xl font-bold">
      popular <span class="text-orange-500">design</span>
    </h2>
    <p class="text-base font-semibold">explore design</p>
  </article>
  <ul class="flex flex-wrap justify-between gap-10">
    {
      listDesignCards.map((card) => {
        const { tag, title, description } = card;
        return (
          <CardMini tag={tag} title={title} description={description}/>
        );
      })
    }
  </ul>
</section>
