---
import Layout from "../layouts/Layout.astro";
---

<Layout title="page contact">
  <main class="max-w-[1440px] mx-auto flex items-start justify-between py-10 pb-60">
    <section class="w-[35%] flex flex-col gap-y-12">
      <article class="w-full flex flex-col gap-y-3">
        <h1 class="text-6xl font-bold">Contact</h1>
        <p class="text-base">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus
          optio, beatae dolor ab aliquam vero debitis consequatur cum.
        </p>
      </article>
      <div class="flex flex-col gap-y-5">
        <article class="flex flex-col gap-y-3">
          <h3 class="text-4xl font-bold">Critique</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse,
            facilis earum sequi optio quod iure quasi omnis inventore, cum
            aperiam dignissimos, quisquam odio commodi. Iusto doloremque ut sunt
            voluptatem facilis!
          </p>
        </article>
        <article class="flex flex-col gap-y-3">
          <h3 class="text-4xl font-bold">i´m stuck with a post</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse,
            facilis earum sequi optio quod iure quasi omnis inventore, cum
            aperiam dignissimos, quisquam odio commodi. Iusto doloremque ut sunt
            voluptatem facilis!
          </p>
        </article>
        <article class="flex flex-col gap-y-3">
          <h3 class="text-4xl font-bold">report a broken page</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse,
            facilis earum sequi optio quod iure quasi omnis inventore, cum
            aperiam dignissimos, quisquam odio commodi. Iusto doloremque ut sunt
            voluptatem facilis!
          </p>
        </article>
      </div>
    </section>
    <section class="w-[60%]">
      <article class="max-w-[550px]">
        <div class=" px-6 py-4 rounded-t-lg border-2 border-yellow-600 bg-yellow-400">
          <p class="text-yellow-700 font-bold">contact from</p>
        </div>
        <div class=" bg-white px-6 py-6 rounded-b-lg flex flex-col gap-y-6">
          <p class=" text-base font-regular">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
            eligendi nostrum voluptas similique obcaecati
          </p>
          {/* liner */}
          <div class=" w-full border border-gray-100"></div>
          <button class="w-full bg-sky-100 text-sky-500 py-10 rounded-lg">send an email</button>
        </div>
      </article>
    </section>
  </main>
</Layout>
