---
import Code from "../components/code/Code.astro";
import ContactUs from "../components/contactUs/ContactUs.astro";
import Design from "../components/design/Design.astro";
import Hero from "../components/hero/Hero.astro";
import New from "../components/news/New.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="blog-inicio">
  <main class="w-full min-h-screen">
    <Hero />
    <New />
    <Design />
    <Code />
    <!-- <ContactUs /> -->
  </main>
</Layout>
