---
import Image from 'astro/components/Image.astro';

interface Props {
  title: string;
  image: string;
  body: string;
  href: string;
}

const { href, image,  } = Astro.props;
---

<li class="w-[48%] h-full rounded-lg shadow-md">
  <Image
    src={"/image/pexels-pixabay-40185.jpg"}
    class={"rounded-t-lg object-cover h-[60%] w-full"}
    width={620}
    height={300}
    alt={"image blog"}
  />
  <section
    class="flex flex-col justify-between bg-white h-[40%] rounded-b-lg gap-y-5 p-10"
  >
    <article class="flex items-center gap-x-5">
      <div class="flex items-center gap-x-2">
        <div class="p-1.5 rounded-lg shadow-2xl border border-black">
          <Image
            src={"/svg/tag-webSite.svg"}
            width={24}
            height={24}
            alt={"web site"}
          />
        </div>
        <p class="text-base font-medium">website</p>
      </div>
      <div class="flex items-center gap-x-2">
        <div class="p-1.5 rounded-lg shadow-2xl border border-black">
          <Image
            src={"/svg/tag-calendar.svg"}
            width={24}
            height={24}
            alt={"web site"}
          />
        </div>
        <p class="text-base font-medium">29th feb 2024</p>
      </div>
    </article>
    <h3 class="text-5xl font-bold">About version 8</h3>
    <p class="text-base font-regular">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus,
      quisquam. Eos sit odit voluptatibus libero. Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Voluptatibus, quisquam. Eos sit odit
      voluptatibus libero.
    </p>
  </section>
</li>
