---
import FormContact from "./FormContact.astro";
---

<section class="mx-auto max-w-[1440px] py-12">
  <article class="rounded-xl bg-white w-full min-h-[500px] flex">
    <div
      class="w-[40%] h-full border-r border-gray-200 p-12 flex flex-col justify-between gap-y-10"
    >
      <section class="flex flex-col items-center">
        <div></div>
        <h3 class="text-4xl font-bold">get the articles</h3>
        <p class="text-sm fonr-normal text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
          architecto accusamus vitae dignissimos deleniti.
        </p>
      </section>
      <FormContact />
      <section class="flex items-center justify-center">
        <p class="text-xs font-normal text-center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis
          excepturi harum est cupiditate facilis eius eos tenetur eveniet minus
          nihil nemo delectus, obcaecati in minima soluta, autem molestias
          maxime iusto.
        </p>
      </section>
    </div>
    <div class="w-[60%] h-full">
      <section
        class="w-full h-[50%] border-b border-gray-200 px-12 py-8 flex flex-col justify-end"
      >
        <h4 class="text-3xl font-bold">about this site</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
          reiciendis consequuntur velit fugiat laudantium dignissimos enim eum
          porro nobis vel praesentium, voluptatum nisi! Veritatis id possimus
          atque necessitatibus. Eos, quidem?
        </p>
      </section>
      <section class="w-full h-[50%] grid grid-rows-2 grid-flow-col">
        <div
          class="row-span-2 col-span-1 p-14 flex flex-col justify-end border-r border-gray-200"
        >
          <h4 class="text-3xl font-bold">about this site</h4>
          <ul class="flex flex-wrap gap-3">
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
          </ul>
        </div>
        <div
          class="col-span-2 flex items-center justify-center border-b border-gray-200"
        >
          <p>old design</p>
        </div>
        <div class="col-span-2 p-8 flex flex-col justify-end">
          <h4 class="text-3xl font-bold">elsewhere</h4>
          <ul class="flex flex-wrap gap-3">
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
          </ul>
        </div>
      </section>
    </div>
  </article>
</section>
