---
import { tagCard } from "../../utils";
import CardMini from "../CardMini.astro";

const allPosts = await Astro.glob("/src/pages/post/*.md");

/*quiero que me de todos los posteos que tengan dentro de su listado la palabra "design"*/
const filterTagsdesign = allPosts
  .filter((post) => post.frontmatter.tags.includes("design"))
  .slice(0, 6);
---

<section class="mx-auto max-w-[1440px] py-12">
  <article
    class="flex items-center justify-between max-w-[1440px] mx-auto mb-5"
  >
    <h2 class="text-3xl font-bold">
      popular <span class="text-orange-500">design</span>
    </h2>
    <p class="text-base font-semibold">explore design</p>
  </article>
  <ul class="flex flex-wrap justify-between gap-10">
    {
      filterTagsdesign.map((card) => {
        const { tags, title, description } = card.frontmatter;
        let valueTag = tagCard.filter(
          (item: { name: string }) => item.name === tags[0]
        );
        return (
          <CardMini tag={valueTag[0]} title={title} description={description} />
        );
      })
    }
  </ul>
</section>
