---
import Image from "astro/components/Image.astro";

const {date} = Astro.props
/* console.log(date.slice(0,10).split("-").reverse().join("/")); */
---

<div class="flex items-center gap-x-2">
    <div class="p-1.5 rounded-lg shadow-md w-[36px] h-[36px] ">
      <Image
        src={"/svg/tag-calendar.svg"}
        width={24}
        height={24}
        alt={"web site"}
      />
    </div>
    <p class="text-base font-medium">{date.slice(0,10).split("-").reverse().join("/")}</p>
  </div>