---
import Image from "astro/components/Image.astro";

const { tag } = Astro.props as any;

---

<div class="flex items-center gap-x-2 py-0.5">
  <div class="p-1.5 rounded-lg shadow-md bg-white border border-gray-300 w-[36px] h-[36px]">
    <Image src={tag.icon} class="w-[24px] h-[24px]" width={24} height={24} alt={tag.name} />
  </div>
  <h5 class="text-base font-medium">{tag.name}</h5>
</div>
