---
import Image from "astro/components/Image.astro";
import { listMenuCode } from "../utils/listMenuCode";
import Layout from "./Layout.astro";

/* console.log(listMenuCode)  */
---

<Layout title="filter Code">
  <section
    class="max-w-[1440px] h-[400px] mx-auto py-12 flex items-start justify-between gap-8"
  >
    <article class="w-[35%] flex flex-col gap-y-3">
      <h1 class="text-6xl font-bold">Code</h1>
      <p class="text-base">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        optio, beatae dolor ab aliquam vero debitis consequatur cum.
      </p>
    </article>
    <article class="w-fit h-full">
      <ul class="w-fit flex flex-wrap justify-end gap-8">
        {
          listMenuCode.map((menu: any) => (
            <li class="w-[250px] ">
              <a
                href={menu.href}
                class="flex gap-x-2 items-center py-3 border-b border-gray-300"
              >
                <div class=" p-2 bg-white rounded-xl shadow-md">
                  <Image
                    src={menu.icon}
                    width={24}
                    height={24}
                    alt={menu.name}
                  />
                </div>

                <p class=" text-lg font-semibold">{menu.name}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </article>
  </section>
  <slot />
</Layout>
